@page "/signup"
@using FMS.Shared.Models
@inject NavigationManager Navigation
@using FMS.Client.Pages.UserSignUp.Components

@inject HttpClient httpClient

<div class="signup-container">
    <div class="signup-wrap">
        <div class="signup-title">
            <sapn>
                Sign Up
            </sapn>
        </div>
        <EditForm Model="@user" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <div class="signup-form">
                <div class="signup-form-inputgroup">
                    <InputField Label="Id" InputType="text" Placeholder="Id" @bind-Value="@user.UserId"/>
                    <ValidationMessage For="@(()=>@user.UserId)"/>
                    <button @onclick="()=>OnDoubleCheck(user.UserId)">중복</button>
                    <InputField Label="Pw" InputType="password" Placeholder="Pw" @bind-Value="@user.Password" OnBlur="OnPwCheck" />
                    <ValidationMessage For="@(()=>@user.Password)" />
                   
                    <InputField Label="Pw Check" InputType="password" Placeholder="Pw Check" @bind-value="CheckPw"  OnBlur="OnPwCheck" />
                    @* <InputField Label="Name" InputType="text" Placeholder="Name" @bind-Value="@user.Name" />
                    <ValidationMessage For="@(()=>@user.N)" />
                    <InputField Label="Email" InputType="text" Placeholder="Email" @bind-Value="@user.Email" />
                    <ValidationMessage For="@(()=>@user.Email)" />
                    <InputField Label="Phone" InputType="text" Placeholder="Phone" @bind-Value="@user.PhoneNumber" />
                    <ValidationMessage For="@(()=>@user.PhoneNumber)" /> *@
                </div>
                <div class="signup-form-btngroup">
                    <button type="submit" class="signup-form-btn btn1">회원가입</button>
                </div>
            </div>
        </EditForm>
    </div>
    @if (is_modal)
    {
        <ErrModal Title="회원가입 Err" Content="@err" OnClose="@OnModalClose" />
    }

</div>
@code {
    private string? CheckPw = null;
    private int is_PwCheck = 2;
    private bool is_modal = false;
    private string err = string.Empty;
    UserInfo user = new UserInfo();

    private void OnModalClose()
    {
        is_modal = false;
        StateHasChanged();
    }

    /*
    * 회원가입 Submit
    * --
    */
    private void Submit()
    {
        try
        {
            Console.WriteLine("[회원가입][Submit] 동작");
            Console.WriteLine("ID : " + user.UserId);
            Console.WriteLine("PW : " + user.Password);
            // Console.WriteLine("Name : " + user.Name);
            // Console.WriteLine("Email : " + user.Email);
            // Console.WriteLine("Phone : " + user.PhoneNumber);

            //회원가입 조건
            if(is_PwCheck != 1)
            {
                is_modal = true;
                err = "비밀번호가 일치하지 않습니다.";
                return;
            }

            Navigation.NavigateTo("/signin");
        }
        catch (Exception err)
        {
            Console.WriteLine("[Sign Up] [Submit] 회원가입 에러 \n" + err);
        }
    }

     /*
    * 비밀번호 확인
    * --
    */
    private void OnPwCheck()
    {
        try
        {
            if(CheckPw == user.Password)
            {
                is_PwCheck = 1;
                Console.WriteLine("비밀번호 일치");

            }
            else
            {
                is_PwCheck = 0;
                Console.WriteLine("비밀번호 불일치");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine("[회원가입][OnPwCheck] \n"+e);
            throw e;
        }
    }

    private async void OnDoubleCheck(string userId)
    {
        try
        {
            

            // var res = await httpClient.PostAsync("http://localhost:8888/api/User/AddUser", userId);
            // Console.WriteLine(res);

        }
        catch(Exception err)
        {
            Console.WriteLine("[회원가입][중복검사] 중복확인 에러! \n" + err);
            
        }
    }

}

@* <div class="signin-form-inputs">
    <label class="signin-form-label">ID</label>
    <input class="signin-form-input" type="text" @bind-value="user.Account" placeholder="ID"/>
</div>
<ValidationMessage For="@(()=>user.Account)" /> *@
@* <div class="signin-form-inputs">
    <label class="signin-form-label">PW</label>
    <input class="signin-form-input" type="password" @bind-value="user.Password" placeholder="PW" />
</div>
<div class="signin-form-inputs">
    <label class="signin-form-label">Name</label>
    <input class="signin-form-input" type="text" @bind-value="user.Name" placeholder="Name" />
</div>
<div class="signin-form-inputs">
    <label class="signin-form-label">Email</label>
    <input class="signin-form-input" type="text" @bind-value="user.Email" placeholder="Email" />
</div>
<div class="signin-form-inputs">
    <label class="signin-form-label">Phone</label>
    <input class="signin-form-input" type="text" @bind-value="user.PhoneNumber" placeholder="Phone" />
</div> *@


